HF_TOKEN=
GIGACHAT_AUTH_BASIC=

###-AI-###
# Используемая модель LLM для анализа
ACTIVE_MODEL_PROFILE=mistral_8b_q5km

# Используемая модель whisper (tiny/base/small/medium/large/large-v2/large-v3/)
TRANSCRIPTION_MODEL_NAME=
TRANSCRIPTION_DEVICE=cuda

# Используемая ALIGNMENT модель и ее настройки
ALIGNMENT_LANGUAGE_CODE=ru
ALIGNMENT_MODEL_NAME=facebook/wav2vec2-base-960h

# Параметры генерации 
TEMPERATURE=0.1
NUM_CTX=16384
NUM_PREDICT=8192
TOP_P=0.9
REPEAT_PENALTY=1.15

###-OTHER-###
# Директории
INPUT_DIR=input
OUTPUT_DIR=output

# Расширения
TRANSCRIPT_EXT=.json
ANALYSIS_EXT=.md



# Postgres
DATABASE_URL=""
POSTGRES_HOST=""
POSTGRES_PORT=""
POSTGRES_USER=""
POSTGRES_PASSWORD=""
POSTGRES_DB=""

# Qdrant
QDRANT_HOST=""
QDRANT_PORT=""
QDRANT_API_KEY=""